name: Generate static site

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: '0 10 * * *'

concurrency:
  group: generate-static-site
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: main
      - name: Checkout michael-maltsev/technion-ug-info-fetcher
        uses: actions/checkout@v6
        with:
          repository: michael-maltsev/technion-ug-info-fetcher
          ref: gh-pages
          path: technion-ug-info-fetcher
      - name: Checkout michael-maltsev/technion-sap-info-fetcher
        uses: actions/checkout@v6
        with:
          repository: michael-maltsev/technion-sap-info-fetcher
          ref: gh-pages
          path: technion-sap-info-fetcher
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Generate static site
        run: |
          cd main
          python -u run.py
      - name: Deploy
        run: |
          src_dir=main/names
          deploy_dir="${{ runner.temp }}/deploy"
          deploy_branch=gh-pages

          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          echo Cloning the repository
          git clone --branch $deploy_branch --depth 1 --filter=blob:none --no-checkout https://x-access-token:${{ github.token }}@github.com/${{ github.repository }}.git "$deploy_dir"
          echo Adding generated files to the repository
          git --git-dir="$deploy_dir/.git" --work-tree="$src_dir" add -A
          touch "$deploy_dir/.nojekyll"
          git -C "$deploy_dir" add .nojekyll
          echo Committing changes
          git -C "$deploy_dir" diff-index --cached --quiet HEAD || git -C "$deploy_dir" commit -m "deploy: ${{ github.sha }}"
          echo Pushing to GitHub
          git -C "$deploy_dir" push origin $deploy_branch
